node_modules
uni_modules/*
unpackage
.hbuilderx/*
.vscode/*
.idea/*
.DS_Store
.git
.gitmodules
.svn
.hg
.hgignore
.hgsub
.hgsubstate
.hgtags
.npmignore
.travis.yml
.coveralls.yml
.nyc_output
.sass-cache